{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <h1 class="heading1">About Us</h1>
    <P class="heading1"> BestCar Was founded by Emmanuel Keka in 2005 with his colege Linda Veloso since then BestCar has become one of the biggest,</P>
    <P class="heading1"> delership in both ireland and the UK, provide house delivery and many other services, BestCar has a list variety of cars,</P>
    <P class="heading1"> such as the audis, hunda, mercides. we also provede hight performace car such as lanburgini, feraris and more, please have a look at our catagole and</P>
    <p class="heading1"> make your choise for what will be your next car. </P>

{% endblock %}
