.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.flex-container > a {
    background-color: darkseagreen;
    width: 100%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    text-decoration: none;
}