{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
    <h2 class="heading1">Contact</h2>
    <P class="heading1"> for customer service please contact us at 01 588 84265</P>
    <P class="heading1"> you can also Email us at FunCarDealer@gmail.com</P>
    <P class="heading1"> our customer service team is avable from monday to friday 09:00 to 18:00 </P>
{% endblock %}
