{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1 class="heading1" >Car</h1>
        <img src="{{  asset(car.image) }}" alt="car_image" class="CarImage">
        <h2 class="heading1">Make: {{ car.make }}</h2>
        <h2 class="heading1"> Model: {{ car.model }}</h2>
        <h2 class="heading1"> Year: </h2>
        <h2 class="heading1"> Model: €</h2>
    <br>
    <br>
    <br>
    {% if app.user %}
    <a href="{{ path('App_car_buy', {'id': car.id}) }}"><input type="submit" name="submit" value="Buy now"></a>
    {% endif %}
    {% if app.user == false %}
        <h2 class="heading1" style="color: #B0413E">Please login to buy</h2>
    {% endif %}
{% endblock %}
